body{
    background-color: black;
    margin: 0;
}

p{
    color: red;
}

h1{
    color: red;
}

.menu-navegacion{
    background-color: yellowgreen;
    padding: 10px;
    margin: 0;
}

.menu-navegacion li{
    display: inline-block;
}

.menu-navegacion a {
    color: red;
    text-decoration: none;
}